html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Verdana, sans-serif;
  background-color: #fff;
  counter-reset: section;
  background-attachment: fixed;
  background-image: url(img/slickteam_logo.png);
  background-repeat: no-repeat;
  background-size: 128px 128px;
  background-position: right 24px bottom 30px;
}
.topnav {
  width: 100%;
  height: 1.6em;
  padding-top: 0.3em;
  background: #EA6607;
  color: white;
  font-size: 2em;
  font-weight: bold;
  position: fixed;
  top: 0;
}
.topnav span {
  padding-left: 1em;
}
main {
  display: block;
  margin: 8px auto;
  width: 600px;
  padding-top: 3em;
  padding-bottom: 30px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
li:last-child {
  border: none;
}
li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 600px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}
footer {
  position: fixed;
  height: 30px;
  width: 100%;
  background-color: #EA6607;
  bottom:0;
}
p.copyright {
  position: absolute;
  width: 100%;
  color: #fff;
  font-size: 0.7em;
  text-align: center;
  bottom:0;
}